/* === google fonts === */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

/* === base style === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

/* === pre-define css */
.header {
  height: 150px;
  background: #f1f3ff;
}

.topSection {
  background: #f1f3ff;
}

.topRight {
 
}

.mercedes{
background: linear-gradient(360deg, #0D28a6 50%, #f1f3ff 50%);
}

.form{
  background: #fff;
  border: 1px solid #888888;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #888888;
}

ul.a {
  list-style-type: circle;
}

.detail{
  background: #fff;
  border: 1px solid #888888;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #888888;
}

.imgCar{
  width: 400px;
  height: 300px;
  
}

.card{
  
}